%html
  %head
    %title Identity Code as a Service
    %link{ href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin: "anonymous" }
    %script{ src: "https://code.jquery.com/jquery-3.1.1.min.js", integrity: "sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin: "anonymous" }

    :css
      .container {
        padding-top: 20px;
      }

      .jumbotron h2, .jumbotron h4 {
        font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
      }

      @media (min-width: 768px) {
        .jumbotron h2 {
          font-size: 3em;
        }
      }

      @media (min-width: 992px) {
        .jumbotron h2 {
          font-size: 3.5em;
        }
      }

    :javascript
      $(document).ready(function() {
        function generate() {
          var data = {};

          data.country = $('input[name=generateCountryRadio]:checked').val();
          data.safe_age = $('input[name=safeAgeCheckbox]').is(':checked');
          data.sex = $('input[name=sexRadio]:checked').val();
          data.count = $('input[name=countInput]').val();
          data.separator = $('input[name=separatorCheckbox]').is(':checked');

          $.ajax({
            url: '/generate',
            method: 'POST',
            data: data
          }).done(function (response) {
            $('#generateResult').html('');
            response.result.forEach(function (res) {
              $('#generateResult').append('<h2>' + res + '</h2>');
            });
          });
        };

        function validate() {
          var data = {};
          data.country = $('input[name=generateCountryRadio]:checked').val();
          data.code = $('#validateIdentityCode').val();

          $.ajax({
            url: '/validate',
            method: 'GET',
            data: data
          }).done(function (response) {
            if (response.valid) {
              $('#validateValid').removeClass('text-danger').addClass('text-success').html('true');
              $('#validateSex').html(response.sex);
              $('#validateAge').html(response.age);
              $('#validateBirthDate').html(response.birth_date);
            } else {
              $('#validateValid').removeClass('text-success').addClass('text-danger').html('false');
              $('#validateSex').html('-');
              $('#validateAge').html('-');
              $('#validateBirthDate').html('-');
            }
          });
        };

        $('#submitGenerate').click(function() {
          generate();
          return false;
        });

        $('#submitValidate').click(function() {
          validate();
          return false;
        });

        generate();
      });

  %body
    .container
      %h1 Identity Code as a Service
      .row
        .col-xs-12.col-md-6
          .jumbotron
            %form.form-horizontal#form-generate
              .row
                .col-xs-12.col-md-6
                  .row
                    .col-xs-6
                      .radio
                        %label
                          %input{ type: :radio, name: 'generateCountryRadio', id: 'generateCountryRadioEE', value: 'ee', checked: true }
                            Estonia
                      .radio
                        %label
                          %input{ type: :radio, name: 'generateCountryRadio', id: 'generateCountryRadioLV', value: 'lv' }
                            Latvia
                      .radio
                        %label
                          %input{ type: :radio, name: 'generateCountryRadio', id: 'generateCountryRadioPL', value: 'pl' }
                            Poland
                    .col-xs-6
                      .radio
                        %label
                          %input{ type: :radio, name: 'sexRadio', id: 'sexRadioM', value: 'm' }
                            Male
                      .radio
                        %label
                          %input{ type: :radio, name: 'sexRadio', id: 'sexRadioF', value: 'f' }
                            Female
                    .col-xs-6
                      .checkbox
                        %label
                          %input{ type: :checkbox, name: 'separatorCheckbox', id: 'separator', value: 'true', checked: false }
                            Separator

                .col-xs-12.col-md-6
                  .row
                    .form-group
                      .col-xs-6
                        %input.form-control{ type: :number, name: 'countInput', value: 5 }
                      .col-xs-6
                        .checkbox
                          %label
                            %input{ type: :checkbox, name: 'safeAgeCheckbox', id: 'safeAge', value: 'true', checked: true }
                              Safe age
                    .form-group
                      .col-xs-12
                        %input.btn.btn-primary.btn-block.form-control{ type: :submit, value: 'Generate', id: 'submitGenerate' }

            #generateResult.text-center

        .col-xs-12.col-md-6
          .jumbotron
            %form.form-horizontal#form-validate
              .row
                .col-xs-6
                  .radio
                    %label
                      %input{ type: :radio, name: 'validateCountryRadio', id: 'validateCountryRadioEE', value: 'ee', checked: true }
                        Estonia
                  .radio
                    %label
                      %input{ type: :radio, name: 'validateCountryRadio', id: 'validateCountryRadioLV', value: 'lv' }
                        Latvia
                  .radio
                    %label
                      %input{ type: :radio, name: 'validateCountryRadio', id: 'validateCountryRadioPL', value: 'pl' }
                        Poland
                .col-xs-6
                  .form-group
                    .col-xs-12
                      %input.form-control{ type: :text, id: 'validateIdentityCode', placeholder: '38312203720' }
                  .form-group
                    .col-xs-12
                      %input.btn.btn-primary.btn-block.form-control{ type: :submit, value: 'Validate', id: 'submitValidate' }

            #validateResult
              .row
                .col-xs-6
                  %h4
                    Valid:
                    %span#validateValid
                .col-xs-6
                  %h4
                    Sex:
                    %span#validateSex
              .row
                .col-xs-6
                  %h4
                    Age:
                    %span#validateAge
                .col-xs-6
                  %h4
                    DOB:
                    %span#validateBirthDate

      %footer
        %small.text-muted
          Made with ❤️ by
          %a{ href: 'https://github.com/defeed' } Artem Pakk
